@model BusPassManagementSystem.Models.BusDetail

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit your Bus Route</h1>

<h4>Bus Details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="BusNo" class="control-label"></label>
                <input asp-for="BusNo" class="form-control" />
                <span asp-validation-for="BusNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Source" class="control-label"></label>
                <input asp-for="Source" class="form-control" />
                <span asp-validation-for="Source" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Destination" class="control-label"></label>
                <input asp-for="Destination" class="form-control" />
                <span asp-validation-for="Destination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoOfStops" class="control-label"></label>
                <input asp-for="NoOfStops" class="form-control" />
                <span asp-validation-for="NoOfStops" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="UpdateRoute">Back to List</a>
</div>

